@import "compass/reset";
@import "compass/css3";

$long: 20px;

@mixin center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

* {
  @include box-sizing(border-box);
}

body {
  background-color: #444;
  overflow: hidden;
}

.ground {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  border-top: 4px solid #000;
}

.box {
  position: absolute;
  border: 2px solid;
  border-color: lighten(#000,80%);
  height: $long;
  width: $long;
  background-color: #f2a81c;
  //@include transition(width .5s cubic-bezier(.96,.57,.34,1.9) , height .5s cubic-bezier(.96,.57,.34,1.9) );
}